
# Whitelist
/*
!build.xml
!compile.bat
!fairnfv.bat
!LICENSE
!nfvrun.bat
!nfvrun.sh
!/lib/
!/lib/**
!/src/
!/src/**
!.gitignore

.idea
.DS_Store
out/
classes/
*.iml

# Ignore md files except README README_JP
*.md
!README.md
!README_JP.md

# Ignore properties files
*.properties
!nfv.properties

